<div class="ct_right_panel">
      <app-header />

      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="text-end mb-4">
                              <a *ngIf="userData.role == '0'" routerLink="/users/user-form" class="ct_blue_btn">
                                    + Add User
                              </a>
                        </div>
                        <div class="ct_light_blue_bg">
                              <div class="ct_flex_2">
                                    <h2 class="ct_fs_24 ct_fw_600 text-white">List of users</h2>
                                    <div class="ct_right_filter_main">
                                          <div class="ct_search">
                                                <input type="text" class="form-control" style="padding-right: 34px;"
                                                      placeholder="Search User" [(ngModel)]="searchQuery"
                                                      (ngModelChange)="getUsers()">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="table-responsive ct_mt_40">
                                    <table class="table ct_custom_table">
                                          <thead>
                                                <tr>
                                                      <th>S.No</th>
                                                      <th>Name</th>
                                                      <th>Phone</th>
                                                      <th>Email</th>
                                                      <th>Role</th>
                                                      <th>Permissions</th>
                                                      <th>Status</th>
                                                      <th>Actions</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                @for (item of data; track $index) {
                                                <tr>
                                                      <td>{{ (currentPage - 1) * pageSize + $index + 1 }}</td>
                                                      <td>{{item.name}}</td>
                                                      <td>{{item.phone}}</td>
                                                      <td>{{item.email}}</td>
                                                      <td>{{getRoleLabel(item.role)}}</td>
                                                      <td>{{ formatPermissions(item.permission) }}</td>
                                                      <td>
                                                            <div class="form-check form-switch ct_switch">
                                                                  <input [disabled]="userData.role !== '0'"
                                                                        [checked]="item.status === '1'"
                                                                        (change)="toggleStatus(item)"
                                                                        class="form-check-input" type="checkbox"
                                                                        role="switch" id="flexSwitchCheckDefault">
                                                            </div>
                                                      </td>
                                                      <td>
                                                            <div class="d-flex gap-2">
                                                                  <i *ngIf="userData.role == '0'"
                                                                        routerLink="/users/user-form"
                                                                        [queryParams]="{id : item.id}"
                                                                        class="fa-regular fa-edit">
                                                                  </i>
                                                                  <i title="view downloaded images"
                                                                        routerLink="/users/downloaded-images"
                                                                        [queryParams]="{id : item.id}"
                                                                        class="fa-solid fa-eye view">
                                                                  </i>
                                                            </div>
                                                      </td>
                                                </tr>
                                                }
                                          </tbody>
                                    </table>
                                    <div *ngIf="data?.length == 0 || !data" class="text-center">
                                          <p class="ct_fs_15 mt-5 text-white">No items found</p>
                                    </div>
                              </div>

                              <!-- Pagination Controls -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                          <label for="pageSize" class="text-white">Items per page: </label>
                                          <select id="pageSize" [(ngModel)]="pageSize"
                                                (change)="changePageSize(pageSize)">
                                                <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}
                                                </option>
                                          </select>
                                    </div>

                                    <!-- Pagination -->
                                    <nav aria-label="Table pagination">
                                          <ul class="pagination">
                                                <li class="page-item" [class.disabled]="currentPage === 1">
                                                      <a class="page-link"
                                                            (click)="changePage(currentPage - 1)">Previous</a>
                                                </li>
                                                <li class="page-item" [class.disabled]="currentPage === totalPages">
                                                      <a class="page-link"
                                                            (click)="changePage(currentPage + 1)">Next</a>
                                                </li>
                                          </ul>
                                    </nav>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>