.custom_select {
  border: navajowhite;
  background: #e8f0fc;
  padding: 4px;
  border-radius: 5px;
}

.custom_select:focus {
  outline: none;
}

.custom_status {
  background: #9cd326;
  padding: 4px 10px;
  border-radius: 5px;
}
