<div class="ct_right_panel">
      <h4 class="ct_fw_700 ct_fs_24 text-white mb-4">Image Detail</h4>
      <div class="item">
            <div class="srtudio_bg_345">
                  <div class="ct_studio_img_456">
                        <img [src]="data?.image" alt="" class="image">
                        <p class="mb-0 text-center mt-3 text-white"><a>{{data?.image_name}}</a>
                        </p>
                  </div>
                  <div class="ct_studio_card_456">
                        <ul>
                              <li>
                                    <h4 class="ct_cyan_text">Author</h4>
                                    <p class="mb-0 text-white">{{data?.author_name}}</p>
                              </li>
                              <li>
                                    <h4 class="ct_cyan_text">Created on</h4>
                                    <p class="mb-0 text-white">{{data?.created_on}}
                                    </p>
                              </li>
                              <li>
                                    <h4 class="ct_cyan_text">Dimensions</h4>
                                    <p class="mb-0 text-white">{{data?.dimensions}} </p>
                              </li>
                              <li>
                                    <h4 class="ct_cyan_text">File</h4>
                                    <p class="mb-0 text-white">{{data?.file}} </p>
                              </li>
                              <li>
                                    <h4 class="ct_cyan_text">Tags</h4>
                                    <p class="mb-0 text-white">
                                          <span *ngFor="let tag of data.tags; let i = index">
                                                {{ tag.tagName }}
                                                <ng-container *ngIf="tag.subTags && tag.subTags.length > 0">
                                                      (
                                                      <span *ngFor="let subTag of tag.subTags; let j = index">
                                                            {{ subTag.subTagName }}{{ j < tag.subTags.length - 1 ? ', '
                                                                  : '' }} </span>
                                                                  )
                                                </ng-container>
                                                {{ i < data.tags.length - 1 ? ',' : '' }} </span>
                                    </p>
                              </li>
                              <li>
                                    <h4 class="ct_cyan_text">Albums</h4>
                                    <ul>
                                          <li class="mt-1 textwhite"
                                                *ngFor="let item of getUniqueSubAlbums(data?.sub_album)">
                                                <a class="text-white">{{ item.category_name | uppercase }}</a>
                                                <ng-container *ngIf="item.subcategory_name"> / </ng-container>
                                                <a class="text-white">{{ item.subcategory_name | uppercase }}</a>
                                                <ng-container *ngIf="item.sub_sub_categoryName"> / </ng-container>
                                                <a class="text-white">{{ item.sub_sub_categoryName | uppercase }}</a>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
</div>
<app-loader *ngIf="loading"></app-loader>